stored_variables/*
.ipynb_checkpoints/*
lda_models/*
*.json
# Text files might be useful in the future, so manually do text files for now
politics_train.txt
sfp_politics_after.txt
sfp_politics_before.txt
sfp_posts.txt
td_politics_after.txt
td_politics_before.txt
td_posts.txt
ty_for_participating.txt
